body{
    background-image: url(imatges/arbre.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    width: auto;
    background-color: rgba(255, 255, 255, 0.63);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}