body{ /*marquem com vole que sigui el cos*/
    background-image: url(imatges/arbre.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 100% 100%;
}
div{
    border-radius: 10px;
    margin: auto;
}
.Barra{/*personalitzem la barra superior fixa*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(50, 157, 200, 0.65);
    border-radius: 0px;
    height: 80px;
    z-index: 2;
}
.titolbarra{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgba(23, 173, 68, 0.6);
}
.titol{
    position: static;
    z-index: 1;
    grid-area: titol;
}
.relatiu{/*edito a la meva manera com vull que sigui la divisió relatica i absoluta*/
    position: relative;
    background-color: black;
    border-radius: 45px;
    height: 120px;
    width: 90%;
    right: 35px;
    align-items: center;
    top: 45px;
    margin: 50px;
}
div.relatiu h2{
    font-size: 300%;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}
#absolut{
    position: absolute;
    background-color: white; 
    top: 90%;
    left: 18%;
    height: 80px;
    width: 90%;
}
#absolut h1{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 23px;
}
#alerta{/*edito a la meva maenra per a que la divisió es quedi amb posició sticky*/
    display: flex;
    position: sticky;
    background-color: red;
    width: 100%;
    margin: auto;
    grid-area: alerta;
    top: 100px;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-left: 8%;
    margin-top: 190px;
}
#alerta p{
    font-size: 40px;
    color: orange;
    text-align: center;
    padding-left: 0;
}
#galeria{/*Personalitzo tota al galera per a que quedi ben centrat*/
    width: 90%;
    background-color: transparent;
    margin: auto;
    grid-area: galeria;
    margin-top: 100px;
}
div#galeria p{
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
    background-color: aqua;
    border: 5px solid black;
}
.fotos{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}
img{
    width: 90%;
    height: auto;
    align-items: center;
}
table{
    width: 30%;
    background: linear-gradient(to bottom, rgb(47, 128, 0), rgb(0, 128, 68));
}
td, tr, table{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
tr{
    height: auto;
    align-items: baseline;
}
td.foto{
    height: 120px;
    text-align: center;
}
h6{
    font-size: 17px;
}
.Grid{/*Marco com vull que estigu idistribuida la pàgina*/
    display: grid;
    grid-template-areas:
    "titol titol titol titol titol"
    "alerta alerta galeria galeria galeria"
    "alerta alerta galeria galeria galeria";
}
@media (max-width: 800px) {/*Ajusto tot a pantalles petites per a que estigui tot recte, cambio algunes coses de tamany per a que quedi millor a a vista i faig que les imatges de la galeria vagin de 2 en 2*/
    .Grid{
        grid-template-areas: 
        "titol"
        "alerta"
        "galeria";
    }
    #alerta{
    display: flex;
    position: static;
    background-color: red;
    width: auto;
    margin: auto;
    grid-area: alerta;
    margin-top: 40px;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    }
    #galeria{
    width: 90%;
    background-color: rgba(109, 150, 150, 0.63);
    margin: auto;
    grid-area: galeria;
    margin-top: 20px;
    }
    div#galeria p{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    }
    div.relatiu h2{
    font-size: 200%;
    color: white;
    margin-left: 30px;
    padding-top: 10px;
    }
    #absolut h1{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 23px;
    }
    .relatiu{
    position: relative;
    background-color: black;
    border-radius: 45px;
    height: 100px;
    width: 90%;
    right: 35px;
    align-items: center;
    top: 30px;
    margin: 50px;
    }
    #absolut{
    position: absolute;
    background-color: white; 
    top: 90%;
    left: 18%;
    height: 55px;
    width: 90%;
    }
    table{
        width: 45%;
    }
}